* {
  font-family: 'Yanone Kaffeesatz', arial, serif;
  background: rgb(43, 41, 41);
  text-align: center;
}
h1 {
  font-size: 10em;
}

h2 {
  font-size: 5em;
}
.yes {
  color: rgb(212, 237, 92);
}
.no {
  color: rgb(251, 69, 69);
}